<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Template</title>
</head>

<body>

<table width="100%" border="0px" cellpadding="0px" cellspacing="0px" >	
  <tr>
    	<td align="center">
        	
            <table width="960px" border="0px" cellpadding="0px" cellspacing="0px" >
                <tr>
                    <td>
                        <img src="../template/images/banner01-3.jpg" />
                    </td>
                </tr>
                <tr>
                    <td>
                        
                        <table width="100%" border="0px" cellpadding="0px" cellspacing="0px">
                        	<tr>
                                <td width="150px" valign="top">
                                    
                                    
                                    <table width="100%" border="0px" cellpadding="0px" cellspacing="0px" >
                                        <tr>
                                            <td>
                                            	<img src="../template/images/button3-1.jpg" /></td>
                                        </tr>
                                         <tr>
                                            <td>
                                                <img src="../template/images/button3-2.jpg" />
                                            </td>
                                        </tr>
                                         <tr>
                                            <td>
                                                <img src="../template/images/button3-3.jpg" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="../template/images/button3-4.jpg" />
                                            </td>
                                        </tr> 
                                         
                                    </table>
                                    
                                    
                              </td>
                                <td valign="top" align="left">
                                    
                                    
                                    <table width="100%" border="0px" cellpadding="0px" cellspacing="0px" >
                                    	<tr>
                                        	<td>
                                            	Content
                                                
                                            </td>
                                        </tr>
                                    </table>
                                    
                                    
                              </td>
                            </tr>
                        </table>
                        
                        
                    </td>
                </tr>
                <tr>
                    <td style="border-top:#999 solid 1px; padding-top: 10px; color:#666">
                        Copyright @ Ronghong &nbsp;&nbsp; TEL: 0960-XXX-XXX 
                    </td>
                </tr>
            </table>
            
        </td>
  </tr>
</table>
<p>&nbsp;</p>
</body>
</html>
